<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sukanta.foodie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.app.HOME.SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoTitleAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.app.foodie.WelcomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app.foodie.UsernameActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoTitleAppTheme" />

        <activity android:name="com.example.app.USERLIST.UI.ViewDistributorDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.MyOrders.AllItem.ui.CartItem"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.ITEM.UI.AddItemsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.USERLIST.UI.AddEmplyoeeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.USERLIST.UI.AddDistributorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.USERLIST.UI.AddFranchisorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.example.app.USERLIST.UI.ViewFranchisorDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app.USERLIST.UI.ViewEmployeeDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.app.MyOrders.OrderListById.UI.ViewDetailsOrders"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.example.app.MyOrders.OrderListById.UI.ItemDetail"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />



    </application>
</manifest>